PROJECT_NAME=booking_service
APP_HOST=0.0.0.0
APP_PORT=8010

POSTGRES_DB=booking
POSTGRES_USER=app
POSTGRES_PASSWORD=123qwe
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5435

AUTH_JWT_SECRET=change_me
AUTH_JWT_ALGORITHM=HS256

MOVIES_API_URL=http://127.0.0.1:8000
MOVIES_API_VALIDATE=false
